{% extends 'base.html' %}
{% block body %}
<div class="w-full bg-white py-10">
    <div class="max-w-6xl mx-auto">
        <div class="flex justify-center gap-16">
        {% for pro in products %}
            <div class="flex flex-col items-center text-center">
                <div class="w-40 h-32 flex items-center justify-center">
                    <a href="{% url 'myapp:products' pro.id %}" class="mt-3 text-base font-semibold text-gray-800 hover:text-blue-600">
                    <img
                        src="{{ pro.image.url }}"
                        alt="{{ pro.name }}"
                        class="max-w-full max-h-full object-contain">
                </div>
                {{ pro.name }}</a>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}



