{% extends 'base.html' %}
{% block body %}
<div class="max-w-6xl mx-auto py-10">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
    {% for p in pro %}
    <div class="bg-white rounded-lg shadow hover:shadow-lg transition p-4 flex flex-col items-center text-center">
        <div class="w-48 h-36 flex items-center justify-center mb-3">
            <img
                src="{{ p.image.url }}"
                alt="{{ p.name }}"
                class="max-w-full max-h-full object-contain"
            >
        </div>
        <h1 class="text-base font-semibold text-gray-800 mb-2">
          <a href="{% url 'myapp:details' p.id %}" class="hover:text-blue-600">
            {{ p.name }}
          </a>
        </h1>
        <div class="text-lg font-bold text-green-600 mb-1">
          ${{ p.price }}
        </div>
        <div class="text-sm text-yellow-500">
          ⭐ {{ p.rating }}
        </div>
        <div >
          <a class="text-sm bg-yellow-500 p-5" href="">add to cart</a>
          <a class="bg-green-400 p-5" href="">view cart</a>
        </div>
    </div>
    {% endfor %}

  </div>

</div>
{% endblock %}